{% extends 'base.html.twig' %}

{% block body %}

    <h2>{{ monthName }}</h2>

        <table class="month_calendar">



        {% for week in 1..numberOfWeeks%}

            <tr class="pouet">

                {% for day in days %}

                    <td class="text-center calendar_day">

                        <div class="day-name">{{ day }}</div>
                        <div class="day-number">{{ firstMonday|date('d') }}</div>

                        {% set firstMonday = firstMonday|date_modify("+1 day") %}

                    </td>

                {% endfor %}

            </tr>


        {% endfor %}
        </table>



{% endblock %}

{% block title %}

{% endblock %}

