<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Agenda{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">

        {% block stylesheets %}

        {% endblock %}

    </head>
    <body>

    <nav>
        <h1 class="navbar text-start">Mon Agenda</h1>
    </nav>


        {% block body %}{% endblock %}
    </body>
</html>
